.card-container {
  border-radius: 20px;

  background-color: var(--second-color);

  transition: all 0.4;
}
.card-container:hover {
  box-shadow: 0 0 9px 0;
}
.card-container img {
  border-radius: 10px;

  background-color: var(--second-color);
  /* background-color: aqua; */
}
