.navbar {
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.29);
  /* background-color: var(--); */
  box-shadow: 0 0px 10px rgba(0, 0, 255, 0.573);
  /* color: white; */
}
.nav-item .nav-link{
  color: var(--second-color);
}
.bag-container{
  position: relative;
  color: var(--seventh-color);
  /* background-color: aliceblue; */
  }
.bag-container .bag:hover{
  /* position: relative; */
  color: var(--second-color);
  font-size: 20px;
}
.bag-container .bag{
  transition: all 0.4s;
  /* position: relative; */
  color: var(--seventh-color);
  font-size: 20px;
}
.bag-container span{
  background-color:  var(--seventh-color);
    color:var(--second-color);
  /* font-weight: 600; */
position: absolute;
top: 0;
right: 5px;
width: 20px;
height: 20px;
border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;

}