@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Rubik:wght@300;400&display=swap');
:root {
  --first-color: #000000;
  --firstLight-color: #242424;
  --second-color: #ffffff;
  --secondLight-color: #e9e9e9;
  --third-color: gray;
  --fourth-color: yellow;
  --fifth-color: green;
  --sixth-color: blue;
  --seventh-color: red;

}


body {
  background-color: var(--secondLight-color);
font-family: 'Quicksand', sans-serif;
font-family: 'Rubik', sans-serif;
}